.home {
  background-image: url("../../assets/bgme.jpg");
  min-width: 100vw;
  min-height: 100vh;
  //   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  //   background-image: url("../../assets/gamebg.jpg");
  //   // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   /* Set a specific height */
  //   height: 100%;
  //   color: red;
  //   /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.quiz,
.answer,
.right-side {
  animation: appear-in 5s ease 1;
}

.homepage {
  display: flex;
}

.quiz {
  display: flex;
}

.left-side {
  justify-content: left;
  //   width: 85%;
}

.title {
  display: flex;
  color: white;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.question-box,
.answer__box {
  background-color: antiquewhite;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 20vh;
}

.question-box {
  width: 50vw;
  background-image: url("../../assets/parchment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: aliceblue 2px solid;
  font-size: 2rem;
  font-style: italic;
  font-style: "Ancient-Modern" !important;
  padding: 1rem;
}

.intro-section,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-section {
  color: white;
  font-size: 1.5rem;
  background-color: black;
  border: 5px white solid;
  width: 50vw;
  align-items: center;
}

.question {
  display: flex;
  justify-content: center;
}

.scoreboard {
  background-color: black;
  border: 5px solid white;
  justify-content: center;
  display: flex;
}

.answer {
  &__box--top {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
}

.answer__box {
  font-size: 3rem;
  opacity: 0.8;
}
.answer__box:hover {
  opacity: 1;
}

///Images
.characters {
  display: flex;
  justify-content: center;
}

.bounce {
  animation: bounce2 2s ease 3;
}

.RIP {
  animation: myAnimation 5s ease 1;
}

.showAnswer {
  color: white;
}

.hidden-name {
  color: black;
}

//loading bar

.text {
  color: wheat;
  margin-bottom: 1rem;
  font-size: 3rem;
  letter-spacing: 2px;
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading,
.line-box {
  padding: 2px;
  width: 40%;
  height: 20px;
  background-color: aqua;
  border: 2px;
}

.loading,
.line-box,
.line {
  height: 20px;
  // border-radius: 20px;
  background-color: aqua;
  animation: loading 5s forwards cubic-bezier(0, 0, 0, 0);
}

.next-button {
  // display: none;
  color: red;
}

.appear {
  display: none;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.will-bounce {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

#myelement {
  animation-name: myAnimation;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes appear-in {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
